@media only screen and (min-width: 993px) {
  .container {
      width: 80% !important;
  }
}

body {
  max-width: 1440px;
  margin: 0 auto !important;
}

h1 {
  font-family: 'CenturyGothic-Bold';
  font-size: 23px !important;
  text-transform: uppercase;
}

h2 {
  position: relative;
  margin: 30px 0 0 !important;
  font-family: 'CenturyGothic-Bold';
  font-size: 23px !important;
  text-transform: uppercase;
  color: #4A4A4A;

  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    top: -20px;
    background-color: #00CFCB;
  }

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: 0;
    left: 0;
    bottom: -20px;
    background-color: #00CFCB;
  }
}

h3 {
  position: relative;
  margin: 30px 0 0 !important;
  font-family: 'CenturyGothic-Bold';
  font-size: 15px !important;
  text-transform: uppercase;
  color: #4A4A4A;

  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    top: -20px;
    background-color: #00CFCB;
  }

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: 0;
    left: 0;
    bottom: -20px;
    background-color: #00CFCB;
  }
}

p {
  font-family: 'CenturyGothic';
  font-size: 15px;
  line-height: 21px;
  color: #4A4A4A;
}

.btn-ouibeat {
  padding: 7px;
  margin-bottom: 2em;
  color: white;
  font-size: 14px;
  border: 2px solid white;
}

.btn-ouibeat.dark {
  font-size: 12px;
  color: white;
  background-color: #4A4A4A;
  border: none;
  text-transform: uppercase;
}

.btn-ouibeat.dark.disabled {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
  cursor: not-allowed !important;
}


.section-clients {
  padding: 60px 0;

  h2 {
    text-align: center;

    &:before, &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 100%;
  }
}

.section-discover {
  position: relative;
  height: 500px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
  }

  &:hover {
    .discover-container-video,
    .discover-container-solution {
      &:after {
        transform: scale(1.1);
      }
    }
  }

  .discover-container-video,
  .discover-container-solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: asset-url('home/discover-offer.jpg') no-repeat top center;
      background-size: cover;
      @include transition(all 0.3s ease-in-out);
    }


    h2 {
      margin: 30px 0 65px !important;
      text-align: center;
      color: white;
      z-index: 10;

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
      }
    }

    a {
      z-index: 10;
    }
  }
}

.section-devices {
  padding: 60px 0;

  h2 {
    margin-bottom: 60px !important;
    text-align: center;

    &:before, &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h3 {
    text-align: center;

    &:before {
      top: -15px;
    }

    &:after {
      bottom: -15px;
    }

    &:before, &:after {
      width: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-portfolio {
  padding: 60px 0 0;

  h2 {
    text-align: center;

    &:before, &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-news {
  padding: 60px 0;

  h2 {
    text-align: center;

    &:before, &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-next {
  padding: 60px 0 0;

  h2 {
    margin-bottom: 60px !important;
    text-align: center;

    &:before, &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .next-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.55);
      z-index: 5;
    }

    .next-left {
      position: relative;
      width: 60%;

      &:hover {
        &:after {
          transform: scale(1.1);
          z-index:5;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: green;
        -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
        background: asset-url('socialwall/borne-connectee.png') no-repeat top left;
        background-size: cover;
        z-index: 0;
        @include transition(all 0.2s ease-in-out);
      }
    }

    .next-right {
      position: relative;
      float: right;
      width: 55%;

      &:hover {
        &:after {
          transform: scale(1.1);
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 500px;
        background-color: blue;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
        background: asset-url('socialwall/conception-digitale.png') no-repeat top left;
        background-size: cover;
        z-index: 0;
        @include transition(all 0.2s ease-in-out);
      }
    }

    .next-right,
    .next-left {
      .next-content {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        h3 {
          margin-bottom: 40px !important;
          color: white;
          z-index: 1;

          &:before, &:after {
            background-color: white;
          }
        }
      }
    }
  }
}

/******************************************************************************/
/* SECOND PAGES */
/******************************************************************************/

.socialwall-action,
.socialwall-plateforme-action,
.socialwall-solution-action {

  header {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    height: 440px;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.3);
      z-index: 1;
    }

    h1 {
      position: relative;
      max-width: 290px;
      margin: 2em 0 !important;
      font-family: 'CenturyGothic-BoldItalic';
      font-size: 20px;
      color: #fff;
      text-align: center;
      z-index: 5;

      &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00CFCB;
      }

      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        bottom: 0;
        left: 0;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00CFCB;
      }
    }

    .icon-mouse {
      margin-top: 1.5em;
      z-index: 5;
    }
  }

  .section-text {
    padding: 60px 0;

    h2 {
      max-width: 185px !important;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      position: relative;
      width: 80%;
      z-index: 10;
    }
  }

  .section-carousel {
    padding: 60px 0;
    max-height: 775px;

    h2 {
      margin-bottom: 65px !important;

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    p {
      margin: 0 auto;
      max-width: 520px;
      text-align: left;
    }

    .carousel-container {
      position: relative;

      .macbook-mockup {
        position: absolute;
        width: 43%;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 30;
      }

      .carousel {
        top: 90px;
        .carousel-item {
          width: 33%;
        }
      }
    }
  }

  .section-carousel.mask-grey-left {
    &:after {
      -webkit-clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);;
      clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);;
    }
  }

  /******************************************************************************/
  /* MASKS */
  /******************************************************************************/

  .mask-grey-left {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 55%;
      height: 100%;
      background-color: #f4f4f5;
      -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
      z-index: -1;
    }
  }

  .mask-grey-right {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 55%;
      height: 100%;
      background-color: #f4f4f5;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
      z-index: -1;
    }
  }

  .mask-white-left {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 52%;
      height: 100%;
      background-color: white;
      -webkit-clip-path: polygon(0% 0%, 77% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
      z-index: 0;
    }
  }

  .mask-white-right {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 55%;
      height: 100%;
      background-color: white;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
      z-index: 0;
    }
  }
}
