/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-action {
  header {
    background: asset-url('home/header.jpg') no-repeat top center fixed;
    background-size: cover;
  }

  .section-offers {
    padding: 60px 0;

    h2 {
      text-align: center;
      margin: 0 auto !important;

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .offers {
      //display: flex;
      //align-items: stretch;

      .offer {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0px 45px;
        margin-top: 75px;

        @media (min-width: 993px) {
          min-height: 630px;
        }

        h3 {
          margin: 50px 0 0 !important;
          text-align: center;

          &:before, &:after {
            left: 50%;
            transform: translateX(-50%);
          }
        }

        p {
          margin: 45px 0;
          text-align: left;
        }

        .btn-ouibeat {
          align-self: center;

          @media (min-width: 993px) {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }

  .section-portfolio {
    .sub-nav-filter {
      background-color: #f5f5f5;
    }
  }


  .section-news {
    padding: 60px 0;

    h2 {
      text-align: center;

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .section-discover {
    .discover-container {
      &:after {
        background: asset-url('home/discover-offer.jpg') no-repeat top center;
        background-size: cover;
      }
    }
  }
}
