.socialwall-plateforme-action {

  header {
    background: asset-url('socialwall/plateforme-header.jpg') no-repeat top center fixed;
  }

  .section-text {
    h2 {
      margin-bottom: 60px !important;
      max-width: 100% !important;
      transform: none !important;
      left: 0;
    }
  }
}