.socialwall-action {
  header {
    background: asset-url('socialwall/socialwall-header.jpg') no-repeat top center fixed;
    background-size: cover;

    @media (max-width: 992px) {
      background: asset-url('socialwall/socialwall-header.jpg') no-repeat top center;
    }
  }

  .section-introduction {
    @include diagBgRight40($grey);

    img {
      margin-top: 120px;
      width: 100%;

      @media (max-width: 992px) {
        margin-top: 40px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (max-width: 520px) {
        width: 100%;
      }
    }
  }

  .section-introduction.mask-grey-right {
    &:after {
      width: 45%;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%);
    }
  }


  .section-text {
    h2 {
      margin-bottom: 60px !important;
      max-width: 100% !important;
      transform: none !important;
      left: 0;
    }
  }

  .section-discover {
    .discover-container-solution {
      &:after {
        background: asset-url('socialwall/plateforme-header.jpg') no-repeat top fixed;
        background-size: cover;

        @media (max-width: 992px) {
          background: asset-url('socialwall/plateforme-header.jpg') no-repeat top center;
        }
      }
    }
  }

  .section-carousel {
    h2 {
      margin: 0 auto 60px!important;
      max-width: 430px !important;
      text-align: center;

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
      }

      @media (max-width: 420px) {
        padding: 0 20px;
      }
    }

    .carousel-socialwall-main {

      .slick-prev,
      .slick-next {
        position: absolute;
        height: 60px;
        width: 60px;
        top: 45%;
        background-color: rgba(255,255,255,0.5);
        border-radius: 50%;
        border: none;
        z-index: 10;
        cursor: pointer;
        @include transition(all 0.3s ease-in-out);

        &:hover {
          background-color: white;
        }
      }

      .slick-prev {
        display: flex;
        align-items: center;
        padding-left: 12px;
        left: 20%;

        @media (max-width: 992px) {
          left: 20px;
        }

        @media (max-width: 420px) {
          left: 10px;
        }
      }

      .slick-next {
        display: flex;
        align-items: center;
        padding-left: 17px;
        right: 20%;

        @media (max-width: 992px) {
          right: 20px;
        }

        @media (max-width: 420px) {
          right: 10px;
        }
      }

      .carousel-socialwall-item-1 {
        height: 620px;
        background: asset-url('socialwall/carousel/socialwall-carousel-1.jpg') no-repeat top center;
        background-size: cover;

        img {
          width: 50%;

          @media (max-width: 420px) {
            width: 80%;
          }
        }
      }

      .carousel-socialwall-item-2 {
        height: 620px;
        background: asset-url('socialwall/carousel/socialwall-carousel-2.jpg') no-repeat top center;
        background-size: cover;

        img {
          max-width: 420px;

          @media (max-width: 992px) {
            width: 65%;
          }
        }
      }

      .carousel-socialwall-items {
        position: relative;

        span {
          position: absolute;
          top: 10%;
          left: 10%;
          font-family: 'CenturyGothic-Bold';
          letter-spacing: 0.1rem;
          font-size: 24px;
          text-decoration: underline;
          text-transform: uppercase;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }

        ul {
          position: absolute;
          max-width: 260px;
          list-style-type: disc;
          bottom: 13%;
          left: 10%;

          @media (max-width: 992px) {
            bottom: 30px;
          }

          li {
            list-style-type: disc;
            font-family: 'CenturyGothic-Bold';
            font-size: 14px;
          }
        }
      }
    }
  }

  .section-portfolio {
    .sub-nav-filter {
      background-color: #f5f5f5;
    }
  }

  .section-next {
    .next-container {
      .next-left {
        &:after {
          background: asset-url('shared/selection/offer-borne.jpg') no-repeat top left;
          background-size: cover;
        }
      }

      .next-right {
        &:after {
          background: asset-url('shared/selection/offer-conceptiodigitale.jpg') no-repeat top left;
          background-size: cover;
        }
      }
    }
  }
}


