<footer>
  <div class="container">
    <div class="row">
      <%= image_tag 'logos/main-logo.svg' %>
    </div>
    <div class="row">
      <div class="col m3">
      </div>
       <div class="col m3">
      </div>
       <div class="col m3">
      </div>
       <div class="col m3">
      </div>
    </div>
  </div>
   <div class="row">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
   </div>
</footer>