<!--DEMO01-->
<div id="animatedModal">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
    <div  id="btn-close-modal" class="close-animatedModal">
        CLOSE MODAL
    </div>

    <div class="modal-content">
        <!--Your modal content goes here-->
    </div>
</div>