<div id="animatedModal">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
  <div  id="btn-close-modal" class="close-animatedModal">
    <%= image_tag 'shared/icons/close.svg' %>
  </div>

  <div class="modal-content">
    <div class="video-container">
      <iframe id="playerid" width="560" height="315" src="<%= source %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


