<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="44px" height="75px" viewBox="0 0 44 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>icone souris défilement </title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 74.4506944 43.9814375 74.4506944 43.9814375 0 0 0"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-713.000000, -784.000000)">
            <g id="Header" transform="translate(-46.000000, -3.000000)">
                <g id="Banniere" transform="translate(0.000000, 93.000000)">
                    <g id="icone-souris-défilement-" transform="translate(759.000000, 694.000000)">
                        <path d="M21.9905812,73.0618056 C1.37520625,73.0618056 1.37520625,56.4548611 1.37520625,37.2256944 C1.37520625,16.2423611 2.85401875,1.38888889 21.9905812,1.38888889 C41.1271437,1.38888889 42.6059562,16.2423611 42.6059562,37.2256944 C42.6059562,56.4548611 42.6059562,73.0618056 21.9905812,73.0618056 L21.9905812,73.0618056 Z M21.9905812,0 C1.61926875,0 0.000206249999,16.1333333 0.000206249999,37.2256944 C0.000206249999,56.36875 0.000206249999,74.4506944 21.9905812,74.4506944 C43.9809562,74.4506944 43.9809562,56.36875 43.9809562,37.2256944 C43.9809562,16.1333333 42.3618937,0 21.9905812,0 L21.9905812,0 Z" id="Fill-1" fill="#FFFFFF"></path>
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-4"></g>
                        <polygon id="Fill-3" fill="#FFFFFF" mask="url(#mask-2)" points="21.302875 25.1069444 22.677875 25.1069444 22.677875 7.99930556 21.302875 7.99930556"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>