<div class="navbar-disclaimer valign-wrapper">
  <span class="center-align">Propulseur d'expérience digitale</span>
</div>
<div class="navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

</div>

