<section class="selection">
  <div class="polygone polygone-1">
    <div class="selection-content">
       <h3>Social Wall</h3>
       <%= link_to 'Configurez le votre', '#', class: 'btn-ouibeat waves-effect waves-light' %>
    </div>
  </div>
  <div class="polygone polygone-2">
    <div class="selection-content">
       <h3>Borne modulable<br>connectée</h3>
       <%= link_to 'Configurez le votre', '#', class: 'btn-ouibeat waves-effect waves-light' %>
    </div>
  </div>
  <div class="polygone polygone-3">
    <div class="selection-content">
       <h3>Conception<br>et développement digitale</h3>
       <%= link_to 'Configurez le votre', '#', class: 'btn-ouibeat waves-effect waves-light' %>
    </div>
  </div>
</section>