<% body_class "contact-action" %>

<%= render 'shared/navbar' %>

<section class="section-text section-contact">
  <div class="side-description">
    <div class="description-content">
     <h2>Nous contacter</h2>
        <div class="adresse">
          <h3>Adresse</h3>
          <p>29 Henri Barbusse<br>75005 Paris</p>
        </div>
        <div class="members">
          <div class="member">
            <h3>Directeur fondateur</h3>
            <p>Loic Cuesta<br>loic@ouibeat.com<br>+33 781 30 64 69</p>
          </div>
        </div>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>

<%= render 'shared/footer' %>