<% body_class "contact-action" %>

<%= render 'shared/navbar_projet' %>

<section class="section-contact mask-image">
  <div class="container">
    <div class="row">
      <div class="col s13 m6">
        <h2>Nous contacter</h2>
        <div class="adresse">
          <h3>Adresse</h3>
          <p>29 Henri Barbusse<br>75005 Paris</p>
        </div>
        <div class="members">
          <div class="member">
            <h3>Directeur fondateur</h3>
            <p>Loic Cuesta<br>loic@ouibeat.com<br>+33 781 30 64 69</p>
          </div>
          <div class="member">
            <h3>Directeur des projets</h3>
            <p>Thomas Boue-Grabot<br>thomas@ouibeat.com<br>+33 619 90 02 97</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>