<% body_class "jobs-action" %>

<%= render 'shared/navbar' %>

<section class="section-text section-jobs">
  <div class="side-description">
    <div class="description-content">
      <h2>Poste à<br>pourvoir</h2>
      <% if @jobs.count > 0 %>
        <ul>
          <% @jobs.each do |job| %>
            <% if job.picture? %>
            <li>
                <a href="https://docs.google.com/gview?url=<%= cloudinary_url(job.picture.path) %>&embedded=true", target="_blank"><%= job.name %></a>
            </li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p>Aucune offre n'est disponible pour le moment.</p>
      <% end %>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>

<%= render 'shared/footer' %>
