<% body_class "socialwall-action" %>

<%= render 'shared/navbar_socialwall' %>

<header>
  <h1>Il n'a jamais été aussi simple de concevoir son social wall</h1>
  <%= image_tag 'home/icone-mouse.svg', class: 'icon-mouse' %>
</header>

<%= render 'shared/footer' %>


<% content_for :after_js do %>
<% end %>