// Your footer style

footer {
  position: relative;
  padding: 80px 0 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 40;

  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: asset-url('shared/footer/shadow-1.svg');
    background-repeat: no-repeat;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: asset-url('shared/footer/shadow-2.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .footer-content {
    position: relative;
    z-index: 30;

    .footer-logo {
      padding: 0 0.75rem;
      width: 160px;
    }

    ul {
      border-right: 1px solid white;

      @media (max-width: 992px) {
        border: none;
      }

      li {
        font-family: 'CenturyGothic-Bold';
        font-size: 12px;
        text-transform: uppercase;

        a {
          color: white;
        }
      }

      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .pages, .corporate {
      padding: 0 3rem 0 0.75rem;

      ul {
        min-height: 130px;
      }
    }

    .network {
      display: flex;

      @media (max-width: 992px) {
        width: 100%;
      }

       @media (max-width: 767px) {
        flex-direction: column;
      }

      span {
        font-family: 'CenturyGothic-Bold';
        font-size: 14px;
        text-transform: uppercase;
        color: #00CFCB;
      }

      .social {
        padding: 13px 1rem;
        width: 33.33333%;

        @media (max-width: 992px) {
          padding: 13px 2rem 13px 0;
          width: 50%;
        }

        @media (max-width: 767px) {
          padding-top: 0;
          width: 100%;
        }

        ul.social-grid {
          display: flex;
          flex-wrap: wrap;
          border: none;

          li {
            margin: 0 10px 10px 0;
          }
        }
      }

      .newsletter {
        display: flex;
        flex-wrap: wrap;
        padding-top: 13px;
        width: 66.66666%;

        @media (max-width: 992px) {
          width: 50%;
        }

        @media (max-width: 767px) {
          padding-top: 0;
          width: 100%;
        }
      }
    }

    ul.copyright {
      display: flex;
      padding: 0 0.75rem;
      border: none;

      @media (max-width: 992px) {
        flex-direction: column;
      }

      @media (max-width: 767px) {
        margin-top: 40px;
      }

      li {
        font-family: 'CenturyGothic';
        font-size: 12px;

        @media (max-width: 992px) {
          font-size: 10px;
        }
      }

      li:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}