.navbar-disclaimer {
  display: flex;
  justify-content: center;
  position: relative;
  height: 30px;
  background: #f4f4f6;
  font-family: 'CenturyGothic-BoldItalic', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: black;
  z-index: 1200;
}

/* Main class */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 30px;
  width: 100%;
  max-width: 1440px;
  height: 60px;
  margin-bottom: -60px;
  background-color: black;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1100;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: visible;
  }

  &:before {
    content: image_url('shared/navbar/path-1.svg');
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: -2px;
    left: 0;
    width: 230px;
    height: 60px;
    z-index: 0;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &:after {
    content: image_url('shared/navbar/path-2.svg');
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: -2px;
    right: 0;
    width: 560px;
    height: 60px;
    z-index: 0;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .nav-wrapper {
    width: 100%;
    z-index: 1100;

    @media (max-width: 992px) {
      background-color: black;
    }

    .brand-logo {
      img {
        width: 145px;
      }

      @media (max-width: 992px) {
        left: 100px;
      }
    }

    ul {
      li {
        a {
          font-family: 'CenturyGothic-Bold', 'Open sans';
          text-transform: uppercase;
          font-size: 0.85em;
          letter-spacing: 0.1em;
        }
      }
    }

    .small-device-toggle {
      position: absolute;
      top: 17px;
      right: 30px;
      width: 30px;
      height: 30px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0px;
      }

      span:nth-child(2),
      span:nth-child(3) {
        top: 10px;
      }

      span:nth-child(4) {
        top: 21px;
      }
    }

    .open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    .open span:nth-child(2) {
      transform: rotate(45deg);
    }

    .open span:nth-child(3) {
      transform: rotate(-45deg);
    }

    .open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  .small-device-menu {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    background-color: black;
    border-bottom: 1px solid black;
    transform: translateY(-130%);
    transition: all 0.3s ease-in-out;
    z-index: 1050;

    &:after {
      content: "";
      background-image: image_url('shared/navbar/mobile-menu-background.png');
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0;
      z-index: 1;
    }

    ul {
      display: flex;
      flex-direction: column;
      position: relative;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
      z-index: 2;

      li:not(:last-child) {
        border-bottom: 2px solid white;
      }

      li {
        a {
          text-transform: uppercase;

          &:hover, &:active, &:focus {
            color: #00cfcb;
            background-color: transparent;
          }
        }
      }
    }

    .social-links {
      display: flex;
      position: relative;
      text-align: center;
      z-index: 2;

      a {
        width: 50%;
        background-color: #f4f4f6;
        transition: background-color .3s;

        &:hover {
          background-color: #e7e7e7;
        }
      }

      a:first-child {
        border-right: 1px solid #4A4A4A;
      }
    }
  }

  .small-device-show-menu {
    display: block;
    transform: translateY(0);
  }
}



.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 1440px;
  height: 40px;
  top: 90px;
  background-color: #f4f4f6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  width: 100%;
  z-index: 100;

  @media (max-width: 992px) {
    padding: 0 15px;
  }

  @media (max-width: 440px) {
    justify-content: space-between;
  }

  a {
    margin: 0 30px;
    font-family: 'CenturyGothic-Bold', 'Open sans';
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    color: black;

    @media (max-width: 440px) {
      margin: 0;
    }
  }
}

.navbar-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.sub-nav-scrolled {
  position: fixed;
  top: 60px;
  width: 100%;
}

.navbar-project-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.sub-nav-filter {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 40px;
  top: 90px;
  //background-color: #f4f4f6;
  box-shadow: none;
  width: 100%;
  z-index: 100;

  a {
    margin: 0 30px;
    font-family: 'CenturyGothic-Bold', 'Open sans';
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    color: black;
  }

  .selected {
    text-decoration: underline;
  }
}


