.project-detail {

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    height: 540px;
    background-color: white;
    text-align: center;

    @media (max-width: 520px) {
      height: 330px;
    }

    img.project-header {
      width: 100%;
      height: 490px;
      object-fit: cover;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 33% 100%, 0% 85%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 33% 100%, 0% 85%);

      @media (max-width: 520px) {
        height: 290px;
      }
    }

    .icon-mouse {
      position: absolute;
      margin-top: 1.5em;
      bottom: 20%;
      z-index: 5;
    }
  }

  p {
    padding: 0 5px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6rem;
  }

  .row {
    margin-bottom: 0;
  }

  .section-text {
    padding: 60px 0 0;

    h1 {
      position: relative;
      margin-bottom: 40px !important;

      &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        top: -20px;
        background-color: #00CFCB;
      }

      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        bottom: 0;
        left: 0;
        bottom: -20px;
        background-color: #00CFCB;
      }
    }

    .label {
      font-family: 'CenturyGothic-BoldItalic';
      font-size: 14px !important;
      color: #00CFCB;
      margin: 0;

      span {
        color: black;
        font-weight: 700;
      }
    }

    .icon-category {
      width: 7%;
      margin-top: 10px;
    }
  }

  .section-paragraph {

    ul.pictures-detail {
      display: flex;
      max-width: 100%;
      justify-content: center;
      margin: 40px 0 0;

      li {
        padding: 0 5px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 520px) {
        flex-direction: column;

        li {
          padding: 5px;
        }
      }
    }
  }

  .section-video {
    padding: 30px 0;

    .row {
      text-align: center;

      h3 {
        color: white;

        &:before, &:after {
          background-color: white;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .btn-ouibeat {
        margin-top: 60px;
      }
    }
  }

  .section-other-projects {
    padding: 30px 0 0;
    margin-top: 60px;

    h2 {
      margin: 0 auto 60px !important;
      text-align: center;
      max-width: 220px;

      &:before, &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .other-projects-carousel {

      .other-projects-carousel-item {
        position: relative;
        display: flex;
        width: 100%;
        height: 400px;
        overflow: hidden;

        .next-project-left {
          width: 100%;

          img {
            position: absolute;
            width: 60%;
            min-height: 400px;
            object-fit: cover;
            -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);

            &:hover {
              &:after {
                transform: scale(1.1);
                z-index:5;
              }
            }
          }
        }

        .next-project-right {
          width: 100%;

          img {
            position: absolute;
            right: 0;
            width: 60%;
            min-height: 400px;
            object-fit: cover;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);

            &:hover {
              &:after {
                transform: scale(1.1);
              }
            }
          }
        }

        .next-project-content {
          position: relative;
          display: flex;
          flex-direction :column;
          height: 100%;
          justify-content: center;
          left: 120px;

          h3 {
            color: white;

            &:before, &:after {
              background-color: white;
            }
          }

          a {
            position: absolute;
            margin-top: 18%;
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      height: 60px;
      width: 60px;
      top: 45%;
      background-color: rgba(255,255,255,0.5);
      border-radius: 50%;
      border: none;
      z-index: 10;
      cursor: pointer;
      @include transition(all 0.3s ease-in-out);

      &:hover {
        background-color: white;
      }
    }

    .slick-prev {
      display: flex;
      align-items: center;
      padding-left: 12px;
      left: 3%;
    }

    .slick-next {
      display: flex;
      align-items: center;
      padding-left: 17px;
      right: 3%;
    }
  }
}


