.project-detail {

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    height: 540px;
    background-color: black;
    text-align: center;

    img.project-header {
      width: 100%;
      height: 490px;
      object-fit: cover;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 25% 100%, 0% 85%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 25% 100%, 0% 85%);
    }

    .icon-mouse {
      position: absolute;
      margin-top: 1.5em;
      bottom: 20%;
      z-index: 5;
    }
  }

  .section-text {
    margin-top: 60px;

    h1 {
      position: relative;
      margin-bottom: 40px !important;

      &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        top: -20px;
        background-color: #00CFCB;
      }

      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        bottom: 0;
        left: 0;
        bottom: -20px;
        background-color: #00CFCB;
      }
    }

    .label {
      font-family: 'CenturyGothic-BoldItalic';
      font-size: 14px !important;
      color: #00CFCB;
      margin: 0;

      span {
        color: black;
        font-weight: 700;
      }
    }

    .icon-category {
      width: 7%;
      margin-top: 10px;
    }
  }

  .section-paragraph {

    .pictures-detail {
      display: flex;
      max-width: 100%;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .section-video {
    margin-bottom: 60px;
  }
}


