.socialwall-exemples {
  position: relative;

  .mockup-macbook {
    position: absolute;
    width: 39%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    top: -16px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .exemples-centered {
    position: relative;
    margin: 90px 0 0;

    .slick-prev,
    .slick-next {
      position: absolute;
      display: flex;
      align-items: center;
      padding-left: 12px;
      width: 60px;
      height: 60px;
      top: 25%;
      z-index: 50;
      background: rgba(255,255,255, 0.6);
      border-radius: 50%;
      cursor: pointer;
      @include transition(all 0.3s ease-in-out);

      @media (max-width: 992px){
        top: inherit;
        bottom: 0;
      }

      &:hover {
        background: white;
      }
    }

    .slick-prev {
      left: 40px;

      @media (max-width: 520px){
        left: 10px;
      }
    }

    .slick-next {
      right: 40px;
      padding-left: 16px;

      @media (max-width: 520px){
        right: 10px;
      }
    }

    .slick-slide {
      opacity: 0.3;
      outline: none;

      img {
        width: 100%;
      }

      .item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 75px;
        font-family: 'CenturyGothic-Bold';
        visibility: hidden;

        span {
          text-transform: uppercase;
        }

        i {
          font-style: normal;
        }
      }
    }

    .slick-current {
      opacity: 1;

      .item-details {
        visibility: visible;
      }
    }
  }
}